body {
}

.calAlert{
    display: inline-block;
	width: 595px; 
    float: none; 
    margin-bottom: 5px;
}

.actionButton {
    margin: 10px 10px 10px 10px;
    display: inline-block;
}

.importSection {
    display: flex;
    margin: 10px 10px 10px 10px;
}

.selectSection {
    display: flex;
    margin: 10px 10px 10px 10px;
}

.calendarSection {
    display: flex;
    margin: 10px 10px 10px 10px;
}

